footer {
    background: var(--main-bg-color);
}
.logo{
    width: 4rem;
}
.icons i{
    margin-right: 10px;
    font-size: 18px;
}
.social-icon i{
    font-size: 30px;
    margin-right: 1rem;
    color:#fff;
}
.nav-link{
    cursor: pointer;
}