
<footer class="w-100 pt-4">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-4">
                <img src="../../assets/images/Pictures/ShriLogo.png" alt="ShriLogo" class="img-fluid logo">
                <div class="mt-2">
                    <h5 class="text-white">Follow Us On</h5>
                    <ul class="list-unstyled d-flex">
                        <li><a href="#" class="social-icon"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://www.youtube.com/@shrigayatrieducation1059" class="social-icon"
                                target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-instagram-square"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-twitter-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-white">
                    <li><a class="nav-link" routerLink="">Home</a></li>
                    <li><a class="nav-link" routerLink="/AboutUs">About Us</a></li>
                    <li><a class="nav-link" routerLink="/Events">Events</a></li>
                    <li><a class="nav-link" routerLink="/Programs">Courses</a></li>
                    <li><a class="nav-link" routerLink="/ContactUs">Contact Us</a></li>
                    <li><a class="nav-link" routerLink="/Donate">Donate</a></li>
                </ul>
            </div>
            <div class="col-lg-4 text-white">
                <h5 class="text-white mb-3">Contact Us</h5>
                <p><span class="icons"><i class="fas fa-map-marker-alt"></i></span>Gautam Buddh Nagar 201009</p>
                <p>
                    <a href="tel:+91 99118003721" class="text-decoration-none text-white">
                        <span class="icons"><i class="fas fa-phone-alt"></i></span>+91 9911800371</a>
                </p>
                <p>
                    <a href="mailto:eshrigayatrieducation@gmail.com" class="text-decoration-none text-white">
                        <span class="icons"><i class="fas fa-envelope"></i></span>eshrigayatrieducation&#64;gmail.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center py-2">
        <p class="small text-muted mb-0">&copy; Copyrights <strong>ShriGayatriEducationSociety</strong>. All rights
            reserved.
        </p>
    </div>
</footer>