<section class="ContactUs container">
    <h2 class="text-center mt-5">Contact Us</h2>
    <div class="row my-5">
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="card" style="width: 16rem;">
                <div><span class="icon"><i class="fas fa-phone-alt"></i></span></div>
                <div class="card-body">
                    <h5 class="card-title">Call Us</h5>
                    <!-- <p class="card-text">+91 99118003721</p> -->
                    <a href="tel:+91 9911800371" class="text-decoration-none">+91 9911800371</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center mt-4 mt-sm-0">
            <div class="card" style="width: 16rem;">
                <div><span class="icon"><i class="fas fa-envelope"></i></span></div>
                <div class="card-body">
                    <h5 class="card-title">Mail Us</h5>
                    <a href="mailto:eshrigayatrieducation@gmail.com" class="text-decoration-none">eshrigayatrieducation&#64;gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
