<section class="container">
    <h2 class="text-center mt-5">About Us</h2>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="text-center">
                <img src="../../assets/images/Pictures/ShriLogo.png" alt="About Us" class="img-fluid logo">
            </div>
        </div>
        <div class="col-sm-6">
            <p>
                Shri gayatri Education is a non-profitable, Non-Government Organization (NGO),
                established in 2019 under Society Registration Act 1860 void registration number
                GBN/10274/2018-19 that aims to underprivileged people of the society, to
                empower them in respect of education, health, skill development, employment
                etc., who are deprived from accessing the main stream resources.
            </p>
            <p>
                We serve for national skill development schemes from state/central Govt. for
                youth, divayangs etc., handicraft training programs for women/girls, Swachh
                Bharat mission, Beti Bachao Beti Padao, environmental sustainability and more
                others which is deemed for welfare of the society.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <h3>Director's Message</h3>
        <div class="col-sm-6 order-1 order-sm-0">
            <figure class="text-center">
                <blockquote class="">
                    <p>
                        Society, in respect of education, health, skill development, employment has
                        been in existence since 2019. This journey was started from programs like Skill
                        development program, creation of awareness in the society, health camps, and
                        distribution of books, environment sustainability and many more. <br>
                        Our vision is to realize the dreams of the poor and the underprivileged.
                        Our focus is on those who are unable to access quality healthcare, education or
                        basic amenities which will give them an improved quality of life. <br>
                        Women empowerment and environment are some other key areas of concern.
                        Our programs are driven by our mission to work as an agent of change to help
                        the poorest of the poor access and actualize their rights as enshrined in the
                        Constitution of India.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer text-end">
			With Regards <br>Mr.Braham Jeet Sharma<br>Director
                    <!-- <cite title="Source Title">Source Title</cite> -->
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 order-0 order-sm-1">
            <div class="PresidentImage text-center my-2 my-sm-0">
                <img src="../../assets/images/Pictures/director.jpg" alt="President Message" class="">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h3>President's Message</h3>
        <div class="col-sm-6 order-1 order-sm-1">
            <figure class="text-center">
                <blockquote class="">
            <p>
                Shri Gayatri Education was set up with an intense
                desire to impart to education, skills, women
                empowerment and responsibilities towards society.
                With this goal, continuous efforts are made to
                upgrade existing facilities. We encourage people to
                carve out an identity for themselves as sensitive
                individuals who conduct themselves with dignity in all the respect. Each day
                should be an improvement on the day gone past.
            </p>
                </blockquote>
                <figcaption class="blockquote-footer text-end">
                    With Regards <br>Mrs. Komal Sharma <br>President
                    <!-- <cite title="Source Title">Source Title</cite> -->
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6 order-0 order-sm-0">
            <div class="PresidentImage text-center my-2 my-sm-0">
                <img src="../../assets/images/Pictures/President.png" alt="President Message" class="">
            </div>
        </div>
    </div>

    <div class="row mt-sm-5">
        <h3>Our Vision</h3>
        <ul class="ps-5">
            <li>
                We aim to break vicious cycle of Social isolation and to restore hope for a
                better future.
            </li>
            <li>
                Awareness about the right to access resources and opportunities in order
                to live and develop with dignity.
            </li>
        </ul>
    </div>
    <div class="row my-sm-5">
        <h3>Our Mission</h3>
        <ul class="ps-5">
            <li>
                To work for the social development.
            </li>
            <li>
                To encourage skill development and skill promotion.
            </li>
            <li>
                To assist in the process of social integration and personal realization of
                underprivileged children, young people, adults and families through
                education.
            </li>
            <li>
                To encourage and popularize voluntary work.
            </li>
        </ul>
    </div>
</section>
