<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/Pictures/ShriLogo.png" alt="hg" class="img-fluid logo">

        </a>
        <button class="navbar-toggler" id="nav-toggle-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        routerLink="/AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        routerLink="/Events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    routerLink="/Programs">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        routerLink="/ContactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        routerLink="/Donate">Donate</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <button class="btn rounded-pill" routerLink="/Donate">Donate</button>
            </form> -->
        </div>
    </div>
</nav>