<section class="container">
    <h2 class="text-center my-5">Events</h2>
    <div class="row my-5">
        <h3 class="">Swachta Abhiyan Program & Memento</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/SwachtaAbhiyan/SwachtaImg2.jpeg" alt="SwachtaAbhiyanImg2" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/SwachtaAbhiyan/SwachtaVolunteer.jpg" alt="SwachtaAbhiyanImg3"
                        class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/SwachtaAbhiyan/SwachtaImg1.jpeg" alt="SwachtaAbhiyanImg1" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Books Distribution</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/BooksDistribution/BD1.jpg" alt="BooksDistribution1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/BooksDistribution/BD2.jpeg" alt="BooksDistribution2" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Plantation</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Plantation/PlantationPoster.jpg" alt="Plantation" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Plantation/PlantationImg1.jpg" alt="Plantation" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Competition & Prize Distribution</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/EssayCompetition/EC1.jpg" alt="EssayCompetition" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/EssayCompetition/EC2.jpg" alt="EssayCompetition" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/EssayCompetition/EC3.jpeg" alt="EssayCompetition" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Skill Development Awareness Program</h3>
        <div class="eventImage eventImageWidth3 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Skill DevelopmentawarenessProgram/SkillDevelopmentProgramImg.jpg"
                        alt="SkillDevelopmentProgramImg" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Patriotic Activity by Children</h3>
        <div class="eventImage eventImageWidth3 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Patriotic/PatrioticActivites.jpg" alt="Patriotic" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Food Distribution during Covid-19</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Covid-19/Covid-19Img1.jpeg" alt="Covid-19Img1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Covid-19/Covid-19Img2.jpeg" alt="Covid-19Img2" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Industrial Visit at Apar Technologies Company for personality grooming:</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/IndustryVisit/IV1.jpg" alt="IndustryVisit1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/IndustryVisit/IV2.jpg" alt="IndustryVisit2" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Awareness Program For Upliftment Of Women In Rural Areas</h3>
        <div class="eventImage eventImageWidth3 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Awareness/A1.jpg" alt="Awareness" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">International Yoga Day Celebration</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Yoga/YogaDayImg1.png" alt="YogaDayImg1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Yoga/YogaDayImg2.png" alt="YogaDayImg2" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Kanwar Sewa Sivir</h3>
        <div class="eventImage eventImageWidth3 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/kanwar/kanwarimg1.jpg" alt="KanwarSewaSivir1" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Mehandi Three Days Activity</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Mehdi/MehdiCompetition1.jpeg" alt="MehdiCompetitionImg1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Mehdi/MehdiCompetition2.jpeg" alt="MehdiCompetitionImg2" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Mehdi/MehdiCompetition3.jpeg" alt="MehdiCompetitionImg3" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Mehdi/MehdiCompetition4.jpeg" alt="MehdiCompetitionImg4" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Har Ghar Tiranga Activity</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/harGharTiranga/harGharTiranga1.jpeg" alt="harGharTiranga1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/harGharTiranga/harGharTiranga2.jpeg" alt="harGharTiranga2" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Food Distribution for Poor People</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/FoodDistribution/FD1.jpeg" alt="FoodDistributionImg1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/FoodDistribution/FD2.jpeg" alt="FoodDistributionImg2" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/FoodDistribution/FD3.jpeg" alt="FoodDistributionImg3" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/FoodDistribution/FD4.jpeg" alt="FoodDistributionImg4" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Dussehra Sharbat Distribution</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Sharbat/Sharbat1.jpeg" alt="SharbatDistributionImg1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Sharbat/Sharbat2.jpeg" alt="SharbatDistributionImg2" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Sharbat/Sharbat3.jpeg" alt="SharbatDistributionImg3" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Sharbat/Sharbat4.jpeg" alt="SharbatDistributionImg4" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Yoga Activity on Yoga Diwas</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/Yoga/YogaDayImg3.jpeg" alt="YogaDayImg3" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Yoga/YogaDayImg4.jpeg" alt="YogaDayImg4" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/Yoga/YogaDayImg5.jpeg" alt="YogaDayImg5" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Workshop & Training Program</h3>
        <div class="eventImage eventImageWidth mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/WorkshopAndTrainingProgram/WTP5.jpeg"
                        alt="WorkshopAndTrainingProgramImg0" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/WorkshopAndTrainingProgram/WTP1.jpeg"
                        alt="WorkshopAndTrainingProgramImg1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/WorkshopAndTrainingProgram/WTP2.jpeg"
                        alt="WorkshopAndTrainingProgramImg2" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/WorkshopAndTrainingProgram/WTP3.jpeg"
                        alt="WorkshopAndTrainingProgramImg3" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/WorkshopAndTrainingProgram/WTP4.jpeg"
                        alt="WorkshopAndTrainingProgramImg4" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="row my-5">
        <h3 class="">Eye Camp</h3>
        <div class="eventImage eventImageWidth2 mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="../../assets/images/eyeCamp/eyeCamp1.jpeg" alt="eyeCamp1" class="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="../../assets/images/eyeCamp/eyeCamp2.jpeg" alt="eyeCamp2" class="">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>