<Section class="container">
    <h2 class="text-center pt-4">Skill Development Programs</h2>
    <div class="row mb-4">
        <!-- <div class="col-sm-3 mt-5 d-flex justify-content-center" *ngFor="let program of Programs">
            <a routerLink="Course" class="text-decoration-none">
                <div class="card" style="width:15rem;">
                    <img src="{{program.url}}" class="card-img-top" alt="Basics of Computer">
                    <div class="card-body">
                        <h5 class="card-title">{{program.name}}</h5>
                        <p class="card-text">{{program.instructor}}</p>
                    </div>
                </div>
            </a>
        </div> -->
        <div class="col-sm-3 mt-5 d-flex justify-content-center">
            <a routerLink="/BasicsOfComputer" class="text-decoration-none">
                <div class="card" style="width:15rem;">
                    <img src="../../../assets/images/Course/computer.jpeg" class="card-img-top" alt="Basics of Computer">
                    <div class="card-body">
                        <h5 class="card-title">Basics of Computer</h5>
                        <p class="card-text">J. Nayan</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 mt-5 d-flex justify-content-center">
            <a routerLink="/Stenography" class="text-decoration-none">
                <div class="card" style="width:15rem;">
                    <img src="../../assets/images/Course/steno.jpeg" class="card-img-top" alt="Stenography">
                    <div class="card-body">
                        <h5 class="card-title">Stenography</h5>
                        <p class="card-text">Dr. Wajid Ali</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</Section>