<section class="sectionDonate container">
    <h2 class="text-center mt-5">Donate Online</h2>
    <div class="row justify-content-center">
        <p class="col-sm-9 donateTitle">Your precious contribution/donation to SHRI GAYATRI EDUCATION will encourage
            and help it to implement its services at grasshood level to achieve its vision and
            mission.</p>
    </div>
    <div class="row my-4 justify-content-center">
        <div class="col-sm-8">
            <h4 class="text-center">By NEFT</h4>
            <div class="table-responsive mt-2">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Permanent Account Number</td>
                            <td>ABEAS7198F</td>
                        </tr>
                        <tr>
                            <td>80G Number</td>
                            <td><a href="../../assets/docs/80G Certificate.pdf" target="_blank">ABEAS7198FE20231</a></td>
                        </tr>
                        <tr>
                            <td>Bank Account Number</td>
                            <td>50200073212967</td>
                        </tr>
                        <tr>
                            <td>Bank Name</td>
                            <td>HDFC Bank</td>
                        </tr>
                        <tr>
                            <td>Beneficiary Name</td>
                            <td>Shri Gayatri Education Society</td>
                        </tr>
                        <tr>
                            <td>Bank IFS Code</td>
                            <td>HDFC0005299</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="col-sm-6">
            <h4 class="text-center">By UPI</h4>
            <div class="mt-4 text-center">
                <img src="../../assets/images/QRCode.png" alt="UPI QR Code">
            </div>
        </div> -->
    </div>
    <div class="row my-4 justify-content-center">
        <div class="col-sm-8">
            <h4 class="text-center">By UPI</h4>
            <div class="table-responsive mt-2">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 50%;">UPI ID</td>
                            <td style="width: 50%;">9911800371&#64;hdfcbank</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="col-sm-9">
            <span class="fw-bold">Note:- </span> After successful transaction please email the transaction details on
            <a href="mailto:eshrigayatrieducation@gmail.com" class="text-decoration-none">
                eshrigayatrieducation&#64;gmail.com
            </a>
        </p>
    </div>
</section>